<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<link type="text/css" rel="stylesheet" th:href="@{/style.css}">
	<script th:src="@{/js/menu.js}" defer></script>
	<title>Visualisation des rôles</title>
</head>
<body>
	<!-- Header inclus -->
	<div th:replace="~{inc/header :: header}"></div>
	<div class="retour">
		<a th:href="@{/rolecreate}">Créer un rôle</a>
	</div>

	<div class="liste">
		<section class="cadre">
			<h2>Liste des rôles</h2>

			<div th:each="role : ${roles}" class="carte-client">
				<div class="titre-client">
					<p><span th:text="${role.name}"></span></p>
				</div>
				<div class="form-boutons form-boutons-role">
					<a class="bouton-carte" th:href="@{/roleedit(roleId=${role.id})}">Modifier</a>
					<a class="bouton-carte" th:href="@{/roledelete(roleId=${role.id})}">Supprimer</a>
				</div>
			</div>
		</section>
	</div>

	<div class="form-boutons form-boutons-role error-buttons">
		<a th:href="@{/home}" class="bouton-action">Retour à l'accueil</a>
	</div>
<!-- Footer inclus -->
<div th:replace="~{inc/footer :: footer}"></div>

</body>
</html>